html,body{
    height: 100%;
}
body {
  margin: 0;                /* Usuwa domyślne marginesy przeglądarki */
  height: 100vh;           /* Ustawia wysokość na 100% widoku ekranu */
  display: flex;           /* Włącza elastyczny model pudełkowy */
  justify-content: center; /* Środkuje w poziomie */
  align-items: center;     /* Środkuje w pionie */
}

.welcome {
  /* Tutaj stylizujesz swojego diva */
  width: 40%;
  height: 20%;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  text-align: center;
  font-size: larger;
  }

.calculator{
    display: none;
}
.kind-of-expenses{
    display: none;
}
.kind-of-expenses-container{
    display: block;
  /* Tutaj stylizujesz swojego diva */
  width: 40%;
  height: 20%;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  text-align: center;
  font-size: large;
}